if SHIELD_SPLITFIRE_LEFT

config ZMK_SPLITFIRE_NAME
    default "Splitfire"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
endif

if SHIELD_SPLITFIRE_LEFT  || SHIELD_SPLITFIRE_RIGHT
config ZMK_SPLIT
    default y
endif
